.button {
  cursor: pointer;
  border: none;
  height: 100%;
  overflow: hidden;

  &:hover {
    .innerContent {
      transform: translateY(-100%);
    }
  }

  &.primary {
    color: white;
    background-color: var(--secondary);
  }

  &.text {
    color: var(--secondary);
    background-color: transparent;
  }

  &.md {
    padding: 15px 20px;
    border-radius: 20px;
  }

  &.xl {
    padding: 20px 20px;
    border-radius: 30px;
  }
}

.container {
  height: 13px;
  overflow: hidden;
}

.innerContent {
  transition: transform 0.3s ease;
  height: 13px;
  line-height: 13px;
}
