.button {
  cursor: pointer;
  border: none;
  height: 100%;
  overflow: hidden;

  &:hover {
    .innerContent {
      transform: translateY(-100%);
    }
  }

  &.primary {
    color: white;
    background-color: var(--secondary);
  }

  &.text {
    color: var(--secondary);
    background-color: transparent;
  }

  &.md {
    height: var(--buttonHeight);
    padding: 0 20px;
    border-radius: calc(var(--buttonHeight) / 2);
  }

  &.xl {
    padding: 20px 20px;
    border-radius: 30px;
  }
}
