.videoPreview {
  position: relative;

  --videoPreviewSize: 241px;
  --playCircleSize: 142px;

  @media (max-width: 1440px) {
    --videoPreviewSize: 186px;
    --playCircleSize: 110px;
  }

  @media (max-width: 1024px) {
    --videoPreviewSize: 133px;
    --playCircleSize: 79px;
  }
}

.videoPreviewImage {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  height: var(--videoPreviewSize);
  width: var(--videoPreviewSize);
}

.videoPlayButton {
  z-index: 100;
  height: 24px;
  width: 48px;
  position: absolute;
  top: calc(50% - 24px / 2);
  left: calc(50% - 48px / 2);
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}

.videoCircleButton {
  z-index: 10;
  position: absolute;
  top: calc(50% - var(--playCircleSize) / 2);
  left: calc(50% - var(--playCircleSize) / 2);
  width: var(--playCircleSize);
  height: var(--playCircleSize);
}

.videoPlayer {
  width: 0px;
  height: 0px;
}
