.container {
  height: 100%;
}

.control {
  background-color: var(--secondary) !important;
  border: none !important;
  color: white !important;
  border-radius: calc(var(--buttonHeight) / 2) !important;
  height: var(--buttonHeight);
  &:hover {
    cursor: pointer;
  }
}

.placeholder,
.singleValue {
  color: white !important;
  padding-left: 15px;
}

.indicatorContainer {
  div {
    color: white !important;
  }
}
