.headerMenu {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  z-index: 100;
}

.headerActions {
  display: flex;
  align-items: center;
  gap: 32px;
  height: 100%;
}

.menuButton {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;

  @media (max-width: 768px) {
    span {
      display: none;
    }
  }

  &:hover {
    .menuIcon {
      transform: scaleY(120%);
    }
  }
}

.menuIcon {
  font-size: var(--buttonFontSize);
  position: relative;
  width: 38px;
  height: 17px;
  transition: 0.3s;

  @media (max-width: 1440px) {
    width: 32px;
    height: 14px;
  }
}

.logo {
  position: relative;
  width: 188px;
  height: 31px;

  @media (max-width: 1440px) {
    width: 156px;
    height: 25px;
  }

  @media (max-width: 360px) {
    width: 130px;
    height: 21px;
  }
}

.phoneMenu {
  display: flex;
  gap: 16px;
  align-items: center;
}

.phoneNumber {
  font-size: var(--phoneFontSize);
  font-weight: 700;
  @media (max-width: 768px) {
    display: none;
  }
}

.selectContainerLg {
  @media (max-width: 768px) {
    display: none;
  }
}

.selectContainerSm {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }

  @media (max-width: 360px) {
    display: none;
  }
}
