.heroSection {
  padding: 0px var(--pageSpacing);
  min-height: 100vh;

  @supports (height: 100dvh) {
    min-height: 100dvh;
  }
}

.heroImage {
  position: relative;
  height: calc(100dvh - var(--headerHeight) - var(--heroInfoHeight));

  width: 100%;
  img {
    object-fit: cover;
    object-position: left 38%;
  }

  @media (max-width: 1440px) {
    img {
      object-fit: cover;
      object-position: right 44%;
    }
  }

  @media (max-width: 1024px) {
    height: 411px;
    img {
      object-fit: cover;
      object-position: right 37%;
    }
  }

  @media (max-width: 768px) {
    height: 488px;

    img {
      object-fit: cover;
      object-position: 50% top;
    }
  }

  @media (max-width: 360px) {
    height: 313px;
  }
}

.pageContent {
  padding-bottom: 10px;
  padding-top: 30px;
  align-items: end;
  height: var(--heroInfoHeight);
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: start;
  }
}

.logo {
  position: relative;
  width: 862px;
  height: 137px;

  @media (max-width: 1440px) {
    width: 717px;
    height: 114px;
  }

  @media (max-width: 1440px) {
    width: 553px;
    height: 88px;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 109px;
  }

  @media (max-width: 360px) {
    width: 100%;
    height: 50px;
  }
}

.textContainer {
  line-height: 140%;
  align-content: end;
  color: var(--secondary);
  font-size: var(--heroTextFontSize);
}
