.section {
  display: flex;

  --iconSize: 259px;
  --partSpacing: 226px;

  @media (max-width: 1440px) {
    --iconSize: 200px;
    --partSpacing: 150px;
  }

  @media (max-width: 1024px) {
    --iconSize: 148px;
    --partSpacing: 148px;
  }

  @media (max-width: 768px) {
    --iconSize: 81px;
    --partSpacing: 94px;
  }

  @media (min-width: 361px) {
    gap: var(--partSpacing);
  }

  @media (max-width: 360px) {
    flex-direction: column;
  }

  padding-bottom: var(--pageSpacing);
}

.leftPart {
  width: 50%;

  @media (min-width: 769px) {
    padding-left: var(--pageSpacing);
  }

  @media (max-width: 360px) {
    width: 80%;
  }

  display: flex;
  flex-direction: column;
  gap: 27px;
  position: relative;
}

.aboutImageIcon {
  z-index: 10;
  position: absolute;
  top: 130px;
  left: calc(100% - var(--iconSize) / 2);
  width: var(--iconSize);
  height: var(--iconSize);
}

.aboutText {
  color: var(--secondary);
  font-size: var(--aboutTextFontSize);
  text-align: end;
}

.aboutImage {
  position: relative;
  height: 900px;

  width: 100%;
  img {
    object-fit: none;
    object-position: left 38%;
  }

  @media (max-width: 1440px) {
    height: 720px;
    img {
      object-fit: cover;
      object-position: 50% top;
    }
  }

  @media (max-width: 1024px) {
    height: 514px;
    img {
      object-fit: cover;
      object-position: 50% 37%;
    }
  }

  @media (max-width: 768px) {
    height: 408px;

    img {
      object-fit: cover;
      object-position: 50% top;
    }
  }

  @media (max-width: 360px) {
    height: 410px;
  }
}

.rightPart {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: var(--pageSpacing);

  @media (max-width: 360px) {
    padding-left: var(--pageSpacing);
    width: 100%;
  }
}

.lineContainer {
  padding: 18% 0 10%;
}

.line {
  position: relative;
  width: 35px;
  height: 6px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 740px;

  @media (max-width: 1440px) {
    height: 620px;
  }

  @media (max-width: 1024px) {
    height: 412px;
  }

  @media (max-width: 768px) {
    height: 350px;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 345px;

  @media (max-width: 1024px) {
    height: 220px;
  }
}

.aboutDetailsText {
  font-size: var(--aboutDetailsFontSize);
  line-height: 140%;
}

.apartmentDetails {
  line-height: 160%;
  font-size: var(--apartmentDetailsFontSize);
  font-weight: lighter;
  text-transform: uppercase;
}

.textAccent {
  color: var(--secondary);
}

.videoBlock {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.videoText {
  font-size: var(--videoTextFontSize);
  text-transform: uppercase;
  font-weight: 700;
}

.videoLengthText {
  font-size: var(--videoTextFontSize);
  opacity: 0.5;
}

.divider {
  width: 109px;
  height: 1px;
  background-color: #d7d7d7;
}
