.container {
  overflow: hidden;
  height: var(--buttonFontSize);
}

.content {
  transition: 0.3s;
  line-height: var(--buttonFontSize);
  font-size: var(--buttonFontSize);
  text-transform: uppercase;
}

.container:hover {
  .content {
    transition: 0.3s;
    transform: translateY(-100%);
  }
  .content {
    transition: 0.3s;
    transform: translateY(-100%);
  }
}
